{% extends 'layouts/base.twig' %}

{% block content %}
<section class="articles">
  <div class="column is-8 is-offset-2">
      <div class="card article">
        <div class="card-content">
          <div class="media">
            <div class="media-content has-text-centered">
              <p class="title article-title"></p>
              <div class="tags has-addons level-item">
                <span class="tag is-rounded"></span>
              </div>
            </div>
          </div>
          <div class="content article-body">
            {{ auth.user }}
          </div>
            <div class="has-text-right">
              <a href="" class="button is-warning is-focused">Editar</a>
              <a href="" class="button is-danger is-focused">Deletar</a>
            </div>
        </div>
      </div>

      <section class="hero is-info is-bold is-small promo-block">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <i class="fa fa-bell-o"></i> Recentemente lançamos uma comunidade.</h1>
          <span class="tag is-black is-medium is-rounded">
            Venha fazer parte da nossa comunidade!
          </span>
        </div>
      </div>
    </section>
  </div>
</section>
{% endblock %}