{% extends "layouts/base.twig" %}

{% block content %}
<section class="articles">
  <div class="column is-8 is-offset-2">
    <div class="card article" style="margin-bottom: 10px;">
      <div class="card-content">
        <form action="" method="POST">

          <div class="field">
            <label class="label">E-mail</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" name="email" type="email" placeholder="marcuspereira@example.com">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Senha</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="password" name="password" placeholder="*****">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-medium is-link">Entrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% include "components/notifications.twig" %}
  </div>
</section>

{% endblock %}