<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
    {% include "components/notifications.twig" %}
    </div>
  </div>
</section>